

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:rgb(16, 78, 16);
  color: #fff; 
}

.header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hamburger Icon (Hidden on Desktop) */
.hamburger {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color:rgb(16, 78, 16);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: left 0.3s ease;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.close-btn {
  align-self: flex-end;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
.sidebar.active {
  left: 0;
}