
.contact-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  
  .contact-info-section {
    background-color :rgb(6, 104, 58);
    width: 40%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .brand-title {
    font-size: 36px;
    font-weight: 700;
    color:white;
    margin-bottom: 10px;
  }
  
  .brand-description {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
  }
  
  .contact-details {
    font-size: 16px;
    color: white;
  }
  
  .contact-details h2 {
    margin-bottom: 15px;
    color: white;
  }
  
  .contact-details p {
    margin: 8px 0;
    font-size: 16px;
  }
  
  
  .contact-form-section {
    width: 60%;
    padding: 40px 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-form-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    font-weight: bold;
    font-size: 14px;
    color: rgb(35, 88, 14);
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #333;
  }
  
  .submit-button {
    background-color: rgb(16, 78, 16);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #1d4704;
  }
  
  
  @media (max-width: 768px) {
    .contact-page {
      flex-direction: column;
    }
  
    .contact-info-section, .contact-form-section {
      width: 100%;
      padding: 20px;
    }
  
    .contact-form-section {
      padding-top: 0;
    }
  }
  